@media screen and (min-width: 768px) and (max-width: 991px) {
	header {
		text-align: center;
		
	}

	.functionals-content {
		.user-short-setting {
			.user-login {
			font-size: 24px;
			}
			.add-balance {
				margin-left: 8px;
				padding: 0px 8px;
			}
			.setting {
				margin-left: 0px;
			}
		}
	}
	.good-services {
		div {
			height: 210px;
			.banner-promo {
				line-height: 210px;
			}
			.news-title {
				margin-top: 60px;
			}
		}
	}



	.for-orders {
		.all-orders,
		.finished-orders,
		.active-orders {
			div {
				margin: 0px auto;
				margin-top: 5px;
				margin-left: -0.5%;
			}
		}
	}


	.settings-profile {
		.setting-menu {
			p {
				padding-left: 20px;
			}
		}
		.right-side-settings {
			input {
				min-width: 100%;
			}
		}
		.left-side-settings {
			p {
				font-size: 13px;
			}
		}

		.edit-profile-js {
			.left-side-settings {
				p {
					margin-bottom: 40px;
					&:nth-child(3) {
						margin-bottom: 35px;
					}
				}
			}
		}
		.edit-password-js {
			.left-side-settings {
				p {
					margin-bottom: 35px;
					&:nth-child(2) {
						margin-bottom: 45px;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 768px) {
	header {
		display: block;
	}
	.mobile-header {
		display: none;
	}
	.short-info {
		.make-balance {
			display: none;
		}
	}
	.mobile-short-info {
		display: none;
	}
	.mobile-short-news {
		display: none;
	}
	.now-category {
		display: none;
	}
	.mobile-footer {
		display: none;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	header {
		display: none;
	}
	.mobile-footer {
		position: fixed;
		z-index: 3;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #fff;
		ul {
			text-align: center;
			vertical-align: middle;
			li {
				vertical-align: middle;
				display: inline-block;
				margin-right: 10%;
				&:last-child {
					margin-right: 0;
				}
				img {
					margin-top: 10px;
					margin-bottom: 10px;
				}
			}
		}
	}

	.mobile-header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 2;
		background-color: #fff;
		border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
		.user-name {
			font-weight: 400;
			font-size: 20px;
			color: #262626;
			margin-top: 10px;
			margin-bottom: 15px;
		}
		.for-button {
			text-align: right;
			button {
				background-color: transparent;
				border: none;
				transform: rotate(90deg);
				margin-top: 13px;
				margin-right: 0px;
			}
		}
	}

	.functionals-content {
		.short-news {
			display: none;
		}
		margin-top: 40px;
		.avatar {
			border: none;
			width: auto;
			height: auto;
			img {
				width: 100%;
				height: auto;
			}
		}
		.user-short-setting {
			.user-login {
				display: none;
			}
			.setting {
				display: none;
			}
			.add-balance {
				display: none;
			}
		}

		.short-info {
			display: none;
		}

		.mobile-short-info {
			margin-top: 30px;
			color: #262626;
			.short-balance {
				text-align: center;
				span {
					margin: 0px auto;
					margin-top: 5px;
					width: 100%;
					display: block;
					font-weight: 600;
				}
			}
			.short-orders {
				margin-left: 0px;
				text-decoration: none;
				color: #262626;
				span {
					margin: 0px auto;
					margin-top: 5px;
					width: 100%;
					display: block;
					text-align: center;
					font-weight: 600;
				}
			}
			.make-balance {
				display: block;
				width: 100%;
				text-align: center;
				color: #fff;
				font-weight: 400;
				font-size: 14px;
				text-decoration: none;
				padding: 10px;
				background-color: #3897F0;
				border-radius: 4px;
				margin-top: 15px;
				letter-spacing: 1px;
			}
		}

		.mobile-short-news {
			.mobile-news-prev-title {
				font-size: 16px;
				line-height: 18px;
				margin-top: 0px;
				color: #262626;
				font-weight: 600;
			}
			.mobile-news-prev-text {
				font-weight: 400;
				color: #262626;
				line-height: 18px;
				font-size: 14px;
				margin-top: 5px;
			}
		}
		
		
	}


	.content-of-main-menu {
		.new-order {
			margin-bottom: 20px;
			img {
				display: block;
				margin: 0px auto;
			}
		}
	}

	.list-of-info {
		display: none;
	}

	.now-category {
		border-top: 1px solid #EFEFEF;
		border-bottom: 1px solid #EFEFEF;
		background-color: #fff;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 15px;
		p {
			&:first-child {
				color: #3897F0;
				font-size: 18px;
				font-weight: bold;
				margin-top: 15px;
				margin-bottom: 10px;
			}
			font-size: 12px;
			font-weight: 400;
			color: #262626;
			margin-bottom: 15px;
		}
	}

	.main-content {
		margin-top: 20px;
	}
}