@charset "UTF-8";
@media screen and (min-width: 768px) and (max-width: 991px) {
  header {
    text-align: center; }

  .functionals-content .user-short-setting .user-login {
    font-size: 24px; }
  .functionals-content .user-short-setting .add-balance {
    margin-left: 8px;
    padding: 0px 8px; }
  .functionals-content .user-short-setting .setting {
    margin-left: 0px; }

  .good-services div {
    height: 210px; }
    .good-services div .banner-promo {
      line-height: 210px; }
    .good-services div .news-title {
      margin-top: 60px; }

  .for-orders .all-orders div,
  .for-orders .finished-orders div,
  .for-orders .active-orders div {
    margin: 0px auto;
    margin-top: 5px;
    margin-left: -0.5%; }

  .settings-profile .setting-menu p {
    padding-left: 20px; }
  .settings-profile .right-side-settings input {
    min-width: 100%; }
  .settings-profile .left-side-settings p {
    font-size: 13px; }
  .settings-profile .edit-profile-js .left-side-settings p {
    margin-bottom: 40px; }
    .settings-profile .edit-profile-js .left-side-settings p:nth-child(3) {
      margin-bottom: 35px; }
  .settings-profile .edit-password-js .left-side-settings p {
    margin-bottom: 35px; }
    .settings-profile .edit-password-js .left-side-settings p:nth-child(2) {
      margin-bottom: 45px; } }
@media screen and (min-width: 768px) {
  header {
    display: block; }

  .mobile-header {
    display: none; }

  .short-info .make-balance {
    display: none; }

  .mobile-short-info {
    display: none; }

  .mobile-short-news {
    display: none; }

  .now-category {
    display: none; }

  .mobile-footer {
    display: none; }

  .hidden-for-desctop {
    display: none; } }
@media screen and (min-width: 400px) and (max-width: 767px) {
  .functionals-content .avatar {
    margin-top: 10%; } }
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hidden-for-mobile {
    display: none; }

  header {
    display: none; }

  .content-of-main-menu {
    margin-bottom: 70px; }

  .mobile-footer {
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 0.5px solid rgba(0, 0, 0, 0.3); }
    .mobile-footer ul {
      text-align: center;
      vertical-align: middle; }
      .mobile-footer ul li {
        vertical-align: middle;
        display: inline-block;
        margin-right: 10%;
        border-bottom: 1px solid transparent; }
        .mobile-footer ul li:last-child {
          margin-right: 0px; }
        .mobile-footer ul li:nth-last-child(2) {
          margin-right: 0; }
        .mobile-footer ul li img {
          margin-top: 15px;
          margin-bottom: 10px;
          width: 30px;
          height: 30px; }
      .mobile-footer ul .active {
        border-bottom: 1px solid black; }

  .mobile-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #fff;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3); }
    .mobile-header .mobile-logo {
      display: block;
      margin-top: 15px;
      margin-bottom: 15px;
      text-align: center; }
    .mobile-header .user-name {
      font-weight: 400;
      font-size: 20px;
      color: #262626;
      margin-top: 10px;
      margin-bottom: 15px; }
    .mobile-header .for-button {
      text-align: right; }
      .mobile-header .for-button button {
        background-color: transparent;
        border: none;
        transform: rotate(90deg);
        margin-top: 13px;
        margin-right: 0px; }

  .functionals-content {
    margin-top: 40px; }
    .functionals-content .short-news {
      display: none; }
    .functionals-content .avatar {
      border: none;
      width: auto;
      height: auto; }
      .functionals-content .avatar img {
        width: 100%;
        height: auto; }
    .functionals-content .user-short-setting .user-login {
      display: none; }
    .functionals-content .user-short-setting .setting {
      display: none; }
    .functionals-content .user-short-setting .add-balance {
      display: none; }
    .functionals-content .short-info {
      display: none; }
    .functionals-content .mobile-short-info {
      margin-top: 30px;
      color: #262626; }
      .functionals-content .mobile-short-info .short-balance {
        text-align: center; }
        .functionals-content .mobile-short-info .short-balance span {
          margin: 0px auto;
          margin-top: 5px;
          width: 100%;
          display: block;
          font-weight: 600; }
      .functionals-content .mobile-short-info .short-orders {
        margin-left: 0px;
        text-decoration: none;
        color: #262626; }
        .functionals-content .mobile-short-info .short-orders span {
          margin: 0px auto;
          margin-top: 5px;
          width: 100%;
          display: block;
          text-align: center;
          font-weight: 600; }
      .functionals-content .mobile-short-info .make-balance {
        display: block;
        width: 100%;
        text-align: center;
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        text-decoration: none;
        padding: 10px;
        background-color: #3897F0;
        border-radius: 4px;
        margin-top: 15px;
        letter-spacing: 1px; }
    .functionals-content .mobile-short-news .mobile-news-prev-title {
      font-size: 16px;
      line-height: 18px;
      margin-top: 0px;
      color: #262626;
      font-weight: 600; }
    .functionals-content .mobile-short-news .mobile-news-prev-text {
      font-weight: 400;
      color: #262626;
      line-height: 18px;
      font-size: 14px;
      margin-top: 5px; }

  .content-of-main-menu .new-order {
    margin-bottom: 20px; }
    .content-of-main-menu .new-order img {
      display: block;
      margin: 0px auto; }

  .list-of-info {
    display: none; }

  .now-category {
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    background-color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px; }
    .now-category p {
      font-size: 12px;
      font-weight: 400;
      color: #262626;
      margin-bottom: 15px; }
      .now-category p:first-child {
        color: #3897F0;
        font-size: 18px;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 10px; }

  .main-content {
    margin-top: 20px; }

  /*╨С╨░╨╗╨░╨╜╤Б*/
  .kind-of-money {
    margin-top: 20px; }
    .kind-of-money .row {
      margin-bottom: 30px; }
    .kind-of-money .for-input {
      margin-top: 7px;
      width: 100%;
      position: relative; }
      .kind-of-money .for-input:after {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 32px;
        height: 32px;
        border-right: 1px solid #EFEFEF; }
      .kind-of-money .for-input input[type='text'] {
        padding-left: 40px;
        height: 32px;
        width: 100%;
        border: 1px solid #EFEFEF;
        border-radius: 4px;
        background-color: #fff;
        outline: none; }
      .kind-of-money .for-input input[type='submit'] {
        background-color: #3897F0;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 7px 15px;
        margin-top: 10px; }
    .kind-of-money .for-yandex:after,
    .kind-of-money .for-cart:after {
      content: '';
      background-image: url(../img/Ruble.svg);
      background-repeat: no-repeat;
      background-position: center; }
    .kind-of-money .for-perfect:after {
      content: '';
      background-image: url(../img/dollar.svg);
      background-repeat: no-repeat;
      background-position: center; }

  .mobile-history-balance {
    margin-bottom: 100px; }

  .mobile-page-title {
    margin-top: 85px;
    border-bottom: 1px solid #EFEFEF; }
    .mobile-page-title p {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      color: #3897F0;
      margin-bottom: 25px; }

  .commission {
    font-size: 12px;
    color: #515151;
    font-weight: 300; }

  /*╨Ш╤Б╤В╨╛╤А╨╕╤П ╨╖╨░╨║╨░╨╖╨╛╨▓*/
  .settings-profile .setting-menu {
    border-right: none;
    text-align: center; }
    .settings-profile .setting-menu p {
      display: inline-block;
      padding-left: 2%; }
      .settings-profile .setting-menu p:first-child {
        padding-left: 2%; }
    .settings-profile .setting-menu .active {
      color: #3897F0;
      font-weight: normal; }
      .settings-profile .setting-menu .active:after {
        display: none; }

  .for-orders div {
    margin: 0px auto !important; }
  .for-orders table .table-title {
    font-size: 14px;
    vertical-align: middle; }
  .for-orders table img {
    width: 20px;
    height: 20px; }
  .for-orders table td {
    font-size: 12px; }
  .for-orders table button {
    font-size: 12px;
    padding: 5px 7px; }

  /*╨Э╨░╤Б╤В╤А╨╛╨╣╨║╨╕ ╨┐╤А╨╛╤Д╨╕╨╗╤П, ╨а╨╡╨┤╨░╨║╤В╨╕╤А╨╛╨▓╨░╤В╤М ╨┐╤А╨╛╤Д╨╕╨╗╤М*/
  .settings-profile .edit-password-js .right-side-settings .user-name,
  .settings-profile .edit-api-js .right-side-settings .user-name {
    margin-bottom: 65px !important; }

  .settings-profile {
    margin-bottom: 80px; }
    .settings-profile .left-side-settings img {
      margin-bottom: 48px; }
    .settings-profile .left-side-settings p {
      font-size: 12px;
      margin-bottom: 38px; }
    .settings-profile .right-side-settings .user-name {
      font-size: 16px; }
    .settings-profile .right-side-settings input {
      min-width: 100px !important;
      width: 100%; }
    .settings-profile .right-side-settings p {
      font-size: 12px;
      margin-bottom: 15px !important; } }
@media screen and (max-width: 360px) {
  .history-of-balance p {
    font-size: 13px; }
    .history-of-balance p span {
      font-size: 13px;
      letter-spacing: 0;
      margin-right: 10px; } }

/*# sourceMappingURL=media.css.map */
