@import 'modal.scss';
.text-center {
	text-align: center
	!important;
}

button {
	outline: none
	!important;
}

body {
	background-color: #FAFAFA;
	font-family: SegoeUI;
}

.register-phones {
	margin-top: 110px;
}
.register {
	box-shadow: 0px 31px 30px -30px rgba(0,0,0,0.1);
	margin-top: 50px;
	border-radius: 2px;
	background-color: #fff;
	border: 1px solid #DEDEDE;
	img {
		display: block;
		margin: 0px auto;
		text-align: center;
		margin-top: 30px;
		margin-bottom: 20px;
	}
	p {
		font-weight: 600;
		font-size: 17px;
		color: #999999;
		text-align: center;
		max-width: 215px;
		display: block;
		margin: 0px auto;
		margin-bottom: 30px;
		line-height: 24px;
	}
	input {
		display: block;
		background-color: #FAFAFA;
		border: 1px solid #EFEFEF;
		border-radius: 3px;
		height: 36px;
		width: 80%;
		margin: 0px auto;
		margin-bottom: 7px;
		font-size: 12px;
		padding-left: 14px;
		outline: none;
	}
	input[type='submit'] {
		background-color: #3897F0;
		color: #fff;
		font-weight: normal;
		font-size: 14px;
		border-radius: 6px;
		margin-top: 20px;
		height: 34px;
		cursor: pointer;
	}
	.oferta {
		margin-top: 20px;
		margin-bottom: 25px;
		font-size: 14px;
		color: #999999;
		max-width: 250px;
		line-height: 20px;
		a {
			font-weight: bold;
			color: #999999;
			text-decoration: none;
		}
	}
}
.enter {
	cursor: pointer;
	box-shadow: 0px 31px 30px -30px rgba(0,0,0,0.4);
	margin-top: 20px;
	height: 70px;
	text-align: center;
	border-radius: 2px;
	background-color: #fff;
	border: 1px solid #DEDEDE;
	p {
		line-height: 70px;
		font-size: 14px;
		color: #262626;
		span {
			color: #3897F0;
			text-decoration: none;
		}
	}
}

.solo-enter {
	margin-top: 130px;
	img {
		margin-bottom: 35px;
	}
	input[type='submit'] {
		margin-bottom: 45px;
	}
}








header {
	background-color: #fff;
	height: 75px;
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
	vertical-align: middle;
	line-height: 75px;
	img {
		vertical-align: middle;
		margin-bottom: 5px;
	}
}


.functionals-content {
	margin-top: 55px;
	.avatar {
		margin: 0px auto;
		border: 4px solid red;
		border-radius: 50%;
		height: 166px;
		width: 166px;	
		line-height: 156px;
		text-align: center;
		img {
			width: 152px;
			height: 152px;
			border-radius: 50%;
			vertical-align: middle;
		}	
	}
	.user-short-setting {
		margin-top: 5px;
	}
	.user-login {
		display: inline-block;
		color: #262626;
		font-size: 32px;
		font-weight: 400;
	}
	.add-balance {
		transition: 0.25s;
		display: inline-block;
		line-height: 32px;
		text-decoration: none;
		cursor: pointer;
		height: 32px;
		padding: 0px 15px;
		border: none;
		background-color: #3897F0;
		border-radius: 4px;
		color: #fff;
		font-size: 14px;
		margin-left: 14px;
		&:hover {
			background-color: #1983E6;
		}
		&:active {
			background-color: #2273BE;
		}
	}
	.setting {
		background-color: transparent;
		border: none;
		cursor: pointer;
		margin-left: 25px;
	}

	.short-info {
		margin-top: 20px;
		margin-bottom: 20px;
		.short-balance,.short-orders {
			text-decoration: none;
			img {
				height: 13px;
			}
			display: inline-block;
			font-size: 18px;
			color: #262626;
			font-weight: 300;
			span {
				font-weight: 400;
			}
		}
		.short-orders {
			margin-left: 25px;
			cursor: pointer;
		}
	}

	.short-news {
		.name-short-news {
			font-size: 16px;
			color: #262626;
			margin-bottom: 5px;
			font-weight: 400;
		}
		.text-short-news {
			font-weight: 300;
			max-width: 350px;
			line-height: 20px;
		}
	}
}

.main-content {
	table {
		margin-bottom: 100px;
		background-color: #fff;
		thead {
			th {
				color: #000;
				font-weight: 600;
				padding-top: 25px;
				padding-bottom: 25px;
				font-size: 18px;
			}
		}
		tbody {
			tr {
				text-align: center;
				td {
					
					&:nth-child(2) {
						text-align: left;
					}
				}
				th,td {
					padding-top: 25px;
					padding-bottom: 25px;
				}
			}
		}
	}
	margin-top: 60px;
	.list-of-info {
		border-top: 1px solid #EFEFEF;
		text-align: center;
		margin-bottom: 20px;
		.active {
			font-weight: 600;
			color: #000000;
			position: relative;
			&:after {
				position: absolute;
				top: -1px;
				left: -15%;
				content: '';
				height: 2px;
				width: 130%;
				background-color: #000;
			}
		}
		.active {
			cursor: default;
		}
		li {
			padding-top: 15px;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
			line-height: normal;
			font-size: 16px;
			cursor: pointer;

			color: #262626;
			display: inline-block;
			margin-right: 85px;
			a {
				color: inherit;
				text-decoration: none;
			}
			&:last-child {
				margin-right: 0px;
			}
		}
	}


	.new-order {
		margin-bottom: 100px;
		img {
			cursor: pointer;
			transition: 0.4s;
		}
	}

	.new-order-instagram {
		img {
			&:hover {
				box-shadow: 0px 31px 71px -29px rgba(255,107,0,1);
			}
		}
	}
	.new-order-youtube {
		img {
			&:hover {
				box-shadow: 0px 31px 71px -29px rgba(217,52,48,1);
			}
		}
	}
	.new-order-facebook {
		img {
			&:hover {
				box-shadow: 0px 31px 71px -29px rgba(25,157,178,1);
			}
		}
	}
}



/*Полезные сервисы*/
.good-services {
	div {
		background-color: #fff;
		transition: 0.5s;
		border: 1px solid #EFEFEF;
		width: 100%;
		height: 290px;
		text-align: center;
		box-shadow: 0px 31px 94px -48px rgba(0,0,0,0.75);
		&:hover {
			box-shadow: 0px 31px 71px -29px rgba(0,0,0,0.75);
		}
		.banner-promo {
			font-size: 16px;
			color: #000;
			line-height: 290px;
			font-weight: 600;
		}


		.news-title {
			font-weight: 600;
			margin-top: 90px;
			font-size: 18px;
			color: #262626;
			margin-bottom: 25px;
		}
		.news-text {
			font-weight: 300;
			color: #262626;
		}
	}
}


/*Услуги и цены*/
table {
	-webkit-box-shadow: 0px 31px 94px -48px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 31px 94px -48px rgba(0,0,0,0.4);
box-shadow: 0px 31px 94px -48px rgba(0,0,0,0.4);
}
.table th, .table td {
	
}









/*Настройки профиля*/
.edit-password,
.edit-profile {
	min-height: 392px;
}
.settings-profile {
	background-color: #fff;
	margin-top: 80px;
	border-radius: 4px;
	border: 1px solid #DFDFDF;
	.setting-menu {
		border-right: 1px solid #DFDFDF;
		p {
			transition: 0.3s;
			cursor: pointer;
			position: relative;
			padding-left: 50px;
			&:first-child {
				margin-top: 25px;
			}
			font-size: 16px;
			color: #262626;
			margin-bottom: 40px;
		}
		.active {
			cursor: default;
			font-weight: 600;
			&:after {
				transition: 0.4s;
				content: '';
				position: absolute;
				top: -100%;
				left: -1px;
				width: 2px;
				height: 300%;
				background-color: #000;
				border-radius: 10px;
			}
		}
	
	}

	.settings-profile-avatar {
		width: 45px;
		height: 45px;
		border-radius: 50%;
	}

	.left-side-settings {
		img {
			margin-top: 35px;
			margin-bottom: 40px;
		}
		text-align: right;
		
		p {
			margin-bottom: 32px;
			font-size: 16px;
			color: #000000;
			font-weight: normal;
		}
	}
	.right-side-settings {
		.disabled-input {
			
		}
		.user-name {
			font-weight: 600;
			letter-spacing: 1px;
			font-size: 20px;
			color: #000;
			margin-top: 30px;
			&+span {
				cursor: pointer;
				margin-top: 7px;
				display: block;
				color: #3897F0;
				font-size: 14px;
				margin-bottom: 45px;
			}
		}
		input {
			padding-top: 5px;
			padding-bottom: 5px;
			
			min-width: 355px;
			border: 1px solid #EFEFEF;
			border-radius: 2px;
			background-color: #fff;
			padding-left: 15px;
			margin-bottom: 23px;
			display: block;
			outline: none;
			&:first-child {
				margin-top: 40px;
			}
		}
		input[type="submit"] {
			cursor: pointer;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 0px;
			padding-right: 0px;
			border-radius: 5px;
			min-width: 120px
			!important;
			width: 120px
			!important;
			background-color: #3897F0;
			color: #fff;
			margin-bottom: 70px;
		}
	}
	.edit-password-js {
		.left-side-settings {
			p {
				&:nth-child(2) {
					margin-bottom: 41px;
				}
			}
		}
	}
	.edit-password-js,
	.edit-api-js {
		.right-side-settings {
			.user-name {
				margin-top: 40px;
				margin-bottom: 55px;
			}
		}
	}
	.edit-api-js {
		.right-side-settings {
			input[type="text"] {
				
				&:disabled {
					background-color: #FAFAFA;
				}
			}
		}
	}
}



/*Пополнить баланс*/
.add-balance {
	.yandex-money,
	.bank-cart,
	.perfect-money {
		div {
			text-align: left;
			margin: 0px auto;
		}
		input[type='text'] {
			outline: none;
			padding-left: 45px;
			min-width: 355px;
			background-color: #fff;
			border: 1px solid #EFEFEF;
			height: 32px;
			display: block;
			margin-bottom: 20px;
			margin-top: 50px;
			position: relative;
		}
		.for-input {
			position: relative;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				height: 32px;
				width: 30px;
				background-color: #FAFAFA;
				border: 1px solid #EFEFEF;
				z-index: 99;
			}
		}

		input[type='submit'] {
			border: none;
			outline: none;
			cursor: pointer;
			padding-top: 10px;
			padding-bottom: 10px;
			border-radius: 5px;
			min-width: 120px
			!important;
			width: 120px
			!important;
			background-color: #3897F0;
			color: #fff;
			margin-bottom: 70px;
		}
		span {
			font-weight: 300;
			font-size: 14px;
			color: #515151;
			margin-left: 20px;
		}
	}
	.yandex-money,
	.bank-cart {
		.for-input {
			&:before {
				background-image: url('../img/Ruble.svg');
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
	.perfect-money {
		span {
			display: inline-block;
			max-width: 200px;
			
		}
		.for-input {
			&:before {
				background-image: url('../img/dollar.svg');
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
}


/*Заказы*/
.for-orders {
	table {
		box-shadow: none;
		.table-title {
			color: #262626;
			font-size: 16px;
		}
		td {
			vertical-align: middle;
			font-size: 15px;
			font-weight: 300;
		}
		button {
			color: #fff;
			border: none;
			font-size: 15px;
			padding: 7px 20px;
			border-radius: 4px;
		}
		.finished {
			background-color: #3897F0;
		}
		.in-process {
			background-color: #FF6B00;
		}
	}
	.all-orders,
	.finished-orders,
	.active-orders {
		div {
			margin: 0px auto;
			margin-top: 5px;
			margin-left: 5%;
		}
	}
}












/*История пополнений*/
.trigger-for-history-of-balance {
	margin-top: 30px;
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 16px;
	color: #3897F0;
	cursor: pointer;
}
.history-of-balance {
	display: none;
	border: 1px solid #DFDFDF;
	border-radius: 4px;
	background-color: #fff;
	text-align: center;
	padding-top: 45px;
	padding-bottom: 30px;
	p {
		display: inline-block;
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: 1px solid #DFDFDF;
		span {
			font-size: 15px;
			letter-spacing: 0.05em;
			color: #9F9F9F;
			margin-right: 35px;
		}
		font-size: 15px;
		letter-spacing: 0.05em;
		color: #262626;
	}
}